<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Sinophiles</title>
<link rel="icon" href="..\..\public\images\metro.ico" />
 

<!-- Bootstrap Core CSS -->
<link href="..\..\node_modules\bootstrap\3.3.7\css\bootstrap.min.css" rel="stylesheet">
<!-- CSS (load bootstrap from a CDN) -->
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->

  