<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sinophiles</title>
    <link rel="icon" href="..\..\..\public\images\metro.ico" />
 

    <!-- Bootstrap Core CSS -->
    <link href="..\..\..\bootstrap\3.3.7\css\bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../../../public/stylesheets/navbar-custom.css" rel="stylesheet">
    <link href="../../../public/stylesheets/others-custom.css" rel="stylesheet">
	<link href="../../../public/stylesheets/thumbnail-custom.css" rel="stylesheet">
	<link href="../../../public/stylesheets/cards.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-custom">
       <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="..\..\..\index.html">Sinophiles</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thomas<span class="caret"></span></a>
			  <ul class="dropdown-menu">
               <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Profil</a></li>
			   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Se déconnecter</a></li>
			  </ul>
			</li>
		  </ul>
		  </div>
        </div> 
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

	    <div class="col-md-3 pull-right"></div>
       <div class="col-md-3"></div>

        <div class="col-md-6">                  
						
	
					<section class="container">
						<div id="card">
						<figure class="front">一</figure>
						<figure class="back">Yī</figure>
						</div>
					</section>
		</div>
				
         <section id="options">
			<p><button id="flip">Flip Card</button></p>
		</section>

  <script src="../../../js/utils.js"></script>
  <script src="../../../js/flip-card.js"></script>
	  </div>
    </div> <!-- End container -->

	

    <!-- jQuery -->
    <script src="../../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..\..\..\bootstrap\3.3.7\js\bootstrap.min.js"></script>
    <script>
	  $(function() {
	    $(".tuille").click(function() {
	      $(this).fadeOut(2000);
	    });
	  });
	  </script>
</body>

</html>
