<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sinophiles</title>
    <link rel="icon" href="..\..\public\images\metro.ico" />
 

    <!-- Bootstrap Core CSS -->
    <link href="..\..\node_modules\bootstrap\3.3.7\css\bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../../public/stylesheets/navbar-custom.css" rel="stylesheet">
    <link href="../../public/stylesheets/others.css" rel="stylesheet">
	
    <link href="../../public/stylesheets/footer.css" rel="stylesheet">
    <link href="../../public/stylesheets/panel.css" rel="stylesheet">
    <link href="../../public/stylesheets/thumbnail-custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-custom">
       <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="..\..\index.html">Sinophiles</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thomas<span class="caret"></span></a>
			  <ul class="dropdown-menu">
               <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Profil</a></li>
			   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Se déconnecter</a></li>
			  </ul>
			</li>
		  </ul>
		  </div>
        </div> 
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-3 pull-right">	
		
		<div class="info-panel" align="center">
          <table>
		  <tr>
		    <td align="center"><img src="..\..\public\images\cours\astrologie\rat.png" alt=""></img>
			<br/><br/><br/>
			</td>
		  </tr>
		  <tr>
		  <tr>
		    <td>Vocabulaire: </td><td>8/12</td>
		  </tr>
		  <tr>
		    <td>Compréhension orale: </td><td>6/12</td>
		  </tr>
		  <tr>
		    <td>Expression orale: </td><td>3/12</td>
		  </tr>
		  <tr>
		    <td>Compréhension écrite: </td><td>2/12</td>
		  </tr>
		</table>
		<br/><br/><br/><br/><br/><br/><br/><br/><button class="btn-default">Entrer</button>

		</div>
        </div>
           
   


        <div class="col-md-9">                  
						
					<div class="col-sm-3 col-lg-3 col-md-3">
									
                        <div id="rat" class="thumbnail">
                            <div class="caption">
                               <h4>
							   <div class="pull-left">Le rat</div><div class="pull-right">Shǔ</div>
							   </h4>
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\rat.png" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">鼠</h1>
							   </td>
							   </tr>
							   </table>
                            </div>
                        </div>
                    </div>
					<div  class="col-sm-3 col-lg-3 col-md-3">
                        <div id="buffle" class="thumbnail">
                            <div class="caption">
							  <h4>
							   <div class="pull-left">Le buffle</div>
							   <div class="pull-right">Niú</div>
							   </h4>
								
								
								<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\buffle.png" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">牛</h1>
							   </td>
							   </tr>
							   </table>
							   
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="tigre" class="thumbnail">
                            <div class="caption">
							
							  <h4><div class="pull-left">Le tigre</div>
							   <div class="pull-right">Hǔ</div></h4>
	
		                	<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\tigre.png" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">虎</h1>
                               <!--<p>Imaginatif et sincère, même dans sa mauvaise foi.</p>-->
							   </td>
							   </tr>
							   </table>
                             </div>
							
                            <div class="ratings">
                            
									<!--
									<span class="glyphicon glyphicon-check"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
								     -->
                           
                            </div>
						
                        </div>
					</div>
					
					
							
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="lapin" class="thumbnail">
                            <div class="caption">
							
							  <h4><div class="pull-left">Le lapin</div>
							   <div class="pull-right">Tù</div></h4>
							   <table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\lapin.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">兔</h1>
							   </td>
							   </tr>
							   </table>
							 
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="dragon" class="thumbnail">
                            <div class="caption">
							
							  <h4><div class="pull-left">Le dragon</div>
							   <div class="pull-right">Lóng</div></h4>

							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\dragon.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">龙</h1>
							   </td>
							   </tr>
							   </table>
													 
                          </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="serpent" class="thumbnail">
                            <div class="caption">
							
							  <h4><div class="pull-left">Le serpent</div>
							   <div class="pull-right">Shé</div></h4>

							   
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\serpent.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">蛇</h1>
							   </td>
							   </tr>
							</table>
							  
                             </div>
                        </div>
					</div>
					
				
						
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="cheval" class="thumbnail">
                            <div class="caption">
									  <h4><div class="pull-left">Le cheval</div>
							   <div class="pull-right">Mǎ</div></h4>
							   
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\cheval.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">马</h1>
							   </td>
							   </tr>
							   </table>
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="chevre" class="thumbnail">
                            <div class="caption">
                 
							<h4><div class="pull-left">La chèvre</div>
							   <div class="pull-right">Yáng</div></h4>
							   
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\chevre.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">羊</h1>
							   </td>
							   </tr>
							   </table>
							  	
                             </div>   
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="singe" class="thumbnail">
                            <div class="caption">
									
									  <h4><div class="pull-left">Le singe</div>
							   <div class="pull-right">Hóu</div></h4>
							   
							   
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\singe.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">猴</h1>
							   </td>
							   </tr>
							   </table>
							  	 
                             </div>
                        </div>
					</div>
			
				
						
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="coq" class="thumbnail">
                            <div class="caption">
				             <h4><div class="pull-left">Le coq</div>
							   <div class="pull-right">Jī</div></h4>
							   
							   
							<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\coq.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">鸡</h1>
							   </td>
							   </tr>
							   </table>
							  
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="chien" class="thumbnail">
                            <div class="caption">
                              
								
							<h4><div class="pull-left">Le chien</div>
							   <div class="pull-right">Gǒu</div></h4>
								
								
								
						<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\chien.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">狗</h1>
							   </td>
							   </tr>
							   </table>
                            </div>
                        </div>
                    </div>
					<div class="col-sm-3 col-lg-3 col-md-3">
                        <div id="cochon" class="thumbnail">
                            <div class="caption">
								
			            	<h4><div class="pull-left">Le cochon</div>
							   <div class="pull-right">Zhū</div></h4>
								
								
								
						<table>
							 <tr>
							 <td>
						        <img class="pull-left" src="..\..\public\images\cours\astrologie\cochon.jpg" alt="">
								</td>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td>
                                <h1 class="pull-right">猪</h1>
							   </td>
							   </tr>
						</table>
                             </div>
						
                        </div>
					</div>

            </div>

	  </div>
	
    </div> <!-- End container -->


   <footer>
	  <hr>
      <p>Copyright &copy; Sinophiles 2016</p>
    </footer>
		

    <!-- jQuery -->
    <script src="../../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..\..\node_modules\bootstrap\3.3.7\js\bootstrap.min.js"></script>
    <script>
	var rat = {
	            fr: "rat",
				py:"Shǔ", 
				ch:"鼠",
	            img: "rat.png", 
			  }; 
	var buffle = {
	            fr: "buffle",
				py:"Niú", 
				ch:"牛",
	            img: "buffle.png", 
			  }; 	
	var tigre = {
	            fr: "tigre",
				py:"Hǔ", 
				ch:"虎",
	            img: "tigre.png", 
			  }; 	
	var lapin = {
	            fr: "lapin",
				py:"Tù", 
				ch:"兔",
	            img: "lapin.png", 
			  }; 	

	var dragon = {
	            fr: "dragon",
				py:"Lóng", 
				ch:"龙",
	            img: "dragon.png", 
			  }; 
	var serpent = {
	            fr: "serpent",
				py:"Shé", 
				ch:"蛇",
	            img: "serpent.png", 
			  }; 	
	var cheval = {
	            fr: "cheval",
				py:"Mǎ",
                ch:"马",				
	            img: "cheval.png", 
			  }; 	
	var chevre = {
	            fr: "chevre",
				py:"Yáng", 
				ch:"羊",
	            img: "chevre.png", 
			  }; 

	var singe = {
	            fr: "singe",
				py:"Hóu", 
				ch:"猴",
	            img: "singe.png", 
			  }; 
	var coq = {
	            fr: "coq",
				py:"Jī", 
				ch:"鸡",
	            img: "coq.png", 
			  }; 	
	var chien = {
	            fr: "chien",
				py:"Gǒu", 
				ch:"狗",
	            img: "chien.png", 
			  }; 	
	var cochon = {
	            fr: "cochon",
				py:"Zhū", 
				ch:"猪",
	            img: "cochon.png", 
			  }; 			  
			  
	var animaux = new Map();
	
	animaux.set("rat", rat);
	animaux.set("buffle", buffle);
	animaux.set("tigre", tigre);
	animaux.set("lapin", lapin);
	
	animaux.set("dragon", dragon);
	animaux.set("serpent", serpent);
	animaux.set("cheval", cheval);
	animaux.set("chevre", chevre);
	
	animaux.set("singe", singe);
	animaux.set("coq", coq);
	animaux.set("chien", chien);
	animaux.set("cochon", cochon);
	
	  $(function() {
	    $(".thumbnail").dblclick(function() {
	      $(this).fadeOut(2000);
	    });
	
	    $(".thumbnail").click(function() {
		  var id = $(this).attr('id');
	      alert(animaux.get(id).ch);
	    });
	  });
	  </script>
</body>

</html>
